/* GIVEN I need to sample a potential employee's previous work
WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section
WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications
WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others
WHEN I click on the images of the applications
THEN I am taken to that deployed application
WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */

/* element tags */

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    background-image: linear-gradient(#FF008E, #D22779, #612897, #0C1E7F);
}

/* fixed navbar at top of page with links to page sections */
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #0C1E7F;
    width: 100%;
    height: 45px;
    position: fixed;
    padding: 20px;
    border-bottom: solid 5px #06FF00;
    color: #06FF00;
    font-weight: bolder;
    font-size: 1.5rem;
    z-index: 2;
    top: 0;
}

img {
    width: 500px;
    height: 500px;
}

button:active {
    background-color: #0C1E7F;
    color: #06FF00;
}

button {
    border-radius: 12px;
    padding: 10px 20px;
    color: #0C1E7F;
    background-color:#06FF00;
    font-size: 20px;
    font-weight: bolder;
}

/* classes */

.link-item:hover {
    color: #D22779;
}

.link-item {
    text-decoration: none;
    color: #06FF00;
}

.project-container:hover {
    transform: scale(1.25);
}

.project-container {
    width: 425px;
    height: 500px;
    border: solid 5px #06FF00;
    border-radius: 5px;
    background-color: #0C1E7F;
}

.project-container h3 {
    position: relative;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 25px;
    top: 15px;
    color: #FF008E;

}

.project-container img {
    width: 424px;
    height: 300px;
}

.project-container p {
    color:antiquewhite;
    text-align: center;
    margin-top: 30px;
}

.text-input:focus {
    background-color: #CFFFFE;
}

/* ids */

#logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    width: 700px;
    list-style: none;
    margin: 0 10%;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 875px;
    margin-top: 135px;
}

#intro h1 {
    color: #0C1E7F;
    text-shadow: 2px 2px #06FF00;
    font-size: 100px;
}

#intro h3 {
    color: #06FF00;
    text-shadow: 4px 4px #0C1E7F;
    font-size: 80px;
    margin: 40px;
}

#about-me h1 {
    text-align: center;
    padding: 25px;
    color: #0C1E7F;
    font-size: 2em;
}

#about-me p {
    padding: 20px;
    color:antiquewhite;
}

#my-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    height: 580px;
}

#my-portfolio h1 {
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 3em;
    color:#06FF00;
}

#portfolio-projects {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    padding: 25px;
    margin-top: 60px;
}

#contact-me h1 {
    color:#FF008E;
    font-size: 30px;
    padding: 35px;
}

#contact-form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 375px;
    border: solid 4px #06FF00;
    border-radius: 2px;
}

#contact-form p input, label {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#FF008E;
}

#message {
    height: 100px;
    width: 430px;
}

/* Media Queries */

@media screen and (max-width: 1400px) {
    main {
        margin-top: -20px;
    }

    .project-container {
        margin: 25px;
    }

    #portfolio-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    
    #contact-me {
        margin-top: 650px;
    }
}

@media screen and (max-width: 1020px) {
    #contact-me {
        margin-top: 1200px;
    }
}

@media screen and (max-width: 715px) {
    main {
        margin-top: 60px;
    }

    nav {
        height: 100px;
    }

    .project-container:hover {
        transform: scale(1.1);
    }

    #intro h1 {
        font-size: 75px;
        margin-top: 50px;
        text-align: center;
    }

    #intro h3 {
        font-size: 60px;
        text-align: center;
    }

    #nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    #contact-form {
        width: 400px;
        border: solid 4px #06FF00;
        border-radius: 2px;
    }

    #message {
        width: 350px;
    }
}